:root {
  --main-color: #2196F3;
  --secondary-color: #000;
  --third-color: #757575;
  --main-font: "roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .mobile-menu-btn__open {
    border: 0px;
    background-color: transparent;
  }

  .mobile-menu-btn__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-btn__open:hover .mobile-menu-btn__icon, .mobile-menu-btn__open:focus .mobile-menu-btn__icon {
    fill: var(--main-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn__open {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    height: 100%;
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu__close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-icon, .mobile-menu__close-btn:focus .mobile-menu__close-icon {
    fill: var(--main-color);
  }

  .mobile-menu__wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-menu__navigation-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__navigation-link:hover, .mobile-menu__navigation-link:focus {
    color: var(--main-color);
  }

  .current {
    color: var(--main-color);
  }

  .mobile-menu__navigation-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu__contact-list {
    margin-bottom: 64px;
  }

  .mobile-menu__contact-link-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__contact-link-tel:hover, .mobile-menu__contact-link-tel:focus {
    color: var(--main-color);
  }

  .mobile-menu__contact-link-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__contact-link-mail:hover, .mobile-menu__contact-link-mail:focus {
    color: var(--main-color);
  }

  .mobile-menu__contact-item:not(:first-child) {
    margin-top: 32px;
  }

  .mobile-menu__socials {
    display: flex;
    flex-direction: row;
  }

  .mobile-menu__socials-item:not(:last-child) {
    margin-right: 10px;
  }
  .mobile-menu__socials-item:not(:last-child)::after {
    content: "";
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }

  .mobile-menu__socials-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
    padding-right: 10px;
  }
}
@media screen and (max-width: 479px) {
  .mobile-menu__socials-link {
    font-size: 14px;
  }

  .mobile-menu__contact-link-tel {
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-top-header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .section-top-header {
    font-size: 36px;
  }
}
.section-header {
  letter-spacing: 0.03em;
  color: #212121;
}

.section-description {
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.logo__half-top {
  color: var(--secondary-color);
}

.logo__bot {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.logo__half-bot {
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .logo__top {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .logo__top {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo__top {
    margin-right: 93px;
  }

  .logo {
    font-size: 26px;
    line-height: 1.2;
  }

  .logo__bot {
    text-align: left;
  }
}
.socials {
  display: flex;
  justify-content: center;
}

.social__team {
  margin-top: 16px;
}

.socials__item {
  display: flex;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--main-color);
}

.social__link-footer {
  background: rgba(255, 255, 255, 0.1);
}

.social__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: #fff;
}

.social__icon-bot {
  fill: #ffffff;
}

.modal {
  z-index: 6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: #2196f3;
}

.modal__form-wrap {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal__form-toaction {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__form-input {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
}

.modal__input-wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-field:focus + .modal__form-icon {
  fill: #2196f3;
}

.modal__form-field {
  display: block;
  width: 100%;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-field:focus {
  border: 1px solid #2196f3;
}

.modal__form-comment {
  display: block;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 20px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-comment:focus {
  border: 1px solid #2196f3;
}

.modal__form-checkbox-wrap {
  position: relative;
  margin-left: 0;
}

.modal__aggreement-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 18px;
}
.modal__aggreement-label::before {
  left: 0;
  position: absolute;
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url(../images/box.svg);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-checkbox:checked + .modal__aggreement-label::before {
  background-image: url(../images/check.svg);
}
.modal__form-checkbox:hover + .modal__aggreement-label::before, .modal__form-checkbox:focus + .modal__aggreement-label::before {
  outline: 2px solid #2196f3;
}

.modal__aggreement-link {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.modal__submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 55px;
  background: #188ce8;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__submit-btn:hover, .modal__submit-btn:focus {
  background: #2196f3;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }

  .modal__form-checkbox-wrap {
    position: relative;
    margin-left: 8px;
  }

  .modal__aggreement-label {
    font-size: 13px;
    line-height: 171%;
  }

  .modal__aggreement-link {
    font-size: 13px;
    line-height: 1.71;
  }
}
@media screen and (max-height: 608px) {
  .modal {
    height: 100%;
    overflow-y: scroll;
  }
}
.backdrop {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.navigation {
  display: flex;
}

@media screen and (max-width: 767px) {
  .navigation-pages {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation-pages {
    display: flex;
  }

  .navigation-pages__item {
    display: flex;
  }
  .navigation-pages__item:not(:last-child) {
    margin-right: 50px;
  }

  .navigation-pages__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-pages__link:hover, .navigation-pages__link:focus {
    color: var(--main-color);
  }

  .navigation-pages__current {
    color: var(--main-color);
  }
  .navigation-pages__current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    content: "";
    height: 4px;
    border-radius: 2px;
    width: 100%;
    background-color: var(--main-color);
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }

  .contacts__link {
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--third-color);
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--main-color);
  }

  .contacts__icon {
    fill: var(--third-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
    fill: var(--main-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:first-child) {
    margin-top: 10px;
  }

  .contacts__link {
    font-size: 12px;
  }

  .contacts__icon {
    margin-right: 8px;
  }

  .contacts__icon-1 {
    width: 14px;
    height: 10px;
  }

  .contacts__icon-2 {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }

  .contacts__item:not(:first-child) {
    margin-left: 50px;
  }

  .contacts__link {
    font-size: 14px;
  }

  .contacts__icon {
    margin-right: 10px;
  }
}
.main-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  margin-top: 0;
  margin-bottom: 0;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  background: #2f303a;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background-mobile.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__header {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 479px) {
  .hero__header {
    font-size: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background-mobile.png);
    background-size: 480px;
  }

  .hero__header {
    width: 360px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx), screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background-mobile@2.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background-tablet.png);
    background-size: 768px;
  }

  .hero__header {
    width: 360px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx), screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background-tablet@2.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background-desktop.png);
    background-size: 1600px;
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .hero__header {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background-desktop@2.png);
  }
}
.advantages__item {
  width: 100%;
}

.advantages__header {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  width: 270px;
  margin-bottom: 10px;
}

.advantages__icons-wrap {
  height: 120px;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .advantages__header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__item {
    margin-bottom: 30px;
    width: 354px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
  }

  .advantages__item {
    width: 270px;
  }
}
@media screen and (min-width: 1200px) {
  .examples {
    padding-bottom: 94px;
  }

  .examples__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .examples__item {
    position: relative;
  }

  .examples__text-wrap {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }

  .examples__text {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 1199px) {
  .examples {
    display: none;
  }
}
.team {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 30px;
}

.team__unit-photo {
  width: 100%;
  height: auto;
}

.team__list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}

.team__unit {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.team__unit-info {
  padding: 30px 10px 30px 10px;
}

.team__unit-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__unit-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__unit-photo {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__unit-photo {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__unit-photo {
    width: 270px;
    height: 260px;
  }

  .section {
    padding-top: 94px;
    padding-bottom: 64px;
  }
}
.clients {
  padding-top: 60px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 64px;
  }
}
.clients__list {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.clients__link {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--main-color);
}

.clients__unit {
  margin-bottom: 30px;
}

@media screen and (max-width: 479px) {
  .clients__list {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .clients__link {
    width: 230px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--main-color);
}

.portfolio__filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border-width: 0px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__filter-btn:hover, .portfolio__filter-btn:focus {
  background: var(--main-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__examples-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

.portfolio__example-name {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__img {
  display: block;
}

.portfolio__example-description {
  font-size: 16px;
  line-height: 1.87;
}

.portfolio__example {
  display: flex;
}

.portfolio__example-text {
  padding: 20px 24px;
  border: #eeeeee solid 1px;
  border-top: none;
  flex-grow: 1;
}

.portfolio__link {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__example-overlay-wrap {
  top: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.portfolio__example-overlay {
  top: 0;
  position: absolute;
  visibility: hidden;
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__example-overlay, .portfolio__link:focus .portfolio__example-overlay {
  visibility: visible;
  transform: translate(0, 0);
}

.portfolio__example-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .portfolio__filter-list {
    justify-content: left;
    margin-bottom: 25px;
  }

  .portfolio__filter-item {
    margin-bottom: 15px;
  }
  .portfolio__filter-item:not(:last-child) {
    margin-right: 8px;
  }

  .portfolio__img {
    width: 100%;
    height: auto;
  }

  .portfolio__example:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__filter-list {
    margin-bottom: 30px;
  }

  .portfolio__img {
    width: 354px;
  }

  .portfolio__example:not(:last-child) {
    margin-bottom: 20px;
  }

  .portfolio__example-name {
    width: 306px;
    word-wrap: break-word;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__example:nth-child(-n+6) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 479px) {
  .portfolio__example-overlay-wrap {
    height: calc(100% - 110px);
  }

  .portfolio__example-overlay-text {
    font-size: 14px;
  }
}
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-bot__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-bot__link:hover, .contacts-bot__link:focus {
  color: var(--main-color);
}

.contacts-bot__item {
  display: flex;
  flex-direction: column;
}
.contacts-bot__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-bot__map {
  color: #ffffff;
}

.footer__socials-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin: 0;
  background: transparent;
  padding: 15px 16px;
  color: #ffffff;
}

.subscribe__btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background: #188ce8;
  border-radius: 4px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-left: 29px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe__icon {
  fill: #ffffff;
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .footer__subscribe {
    margin-top: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__contacts {
    margin-bottom: 60px;
  }

  .footer__contacts {
    text-align: center;
  }

  .footer__socials-header {
    text-align: center;
  }

  .subscribe__btn {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer__contacts {
    margin-right: 165px;
  }

  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    justify-content: left;
  }

  .footer__container {
    display: flex;
    align-items: baseline;
  }

  .footer__contacts {
    margin-right: 70px;
  }

  .contacts-bot__item {
    display: flex;
    flex-direction: column;
  }
  .contacts-bot__item:not(:last-child) {
    margin-bottom: 9px;
  }

  .footer__subscribe {
    margin-left: 93px;
  }

  .subscribe {
    display: flex;
    align-items: center;
  }

  .subscribe__input {
    width: 358px;
  }

  .subscribe__btn {
    margin-left: 12px;
  }
}/*# sourceMappingURL=main.css.map */