.hero {
  background: #2f303a;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-background-mobile.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__header {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (max-width: 479px) {
  .hero__header {
    font-size: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-background-mobile.png);
    background-size: 480px;
  }
  .hero__header {
    width: 360px;
  }
  @media (min-resolution: 2dppx), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-background-mobile@2.png);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-background-tablet.png);
    background-size: 768px;
  }
  .hero__header {
    width: 360px;
  }
  @media (min-resolution: 2dppx), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-background-tablet@2.png);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-background-desktop.png);
    background-size: 1600px;
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__header {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
  @media (min-resolution: 2dppx), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-background-desktop@2.png);
    }
  }
}
