.team {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 30px;
}

.team__unit-photo {
  width: 100%;
  height: auto;
}
.team__list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}


.team__unit {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
}
.team__unit-info {
    padding: 30px 10px 30px 10px;
}
.team__unit-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}
.team__unit-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__unit-photo {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__unit-photo {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__unit-photo {
    width: 270px;
    height: 260px;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 64px;
  }
}
