@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
  .contacts__link {
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--third-color);
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--main-color);
    }
  }
  .contacts__icon {
    fill: var(--third-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .contacts__link:hover &,
    .contacts__link:focus & {
      fill: var(--main-color);
    }
  }
  
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:first-child) {
    margin-top: 10px;
  }
  .contacts__link {
    font-size: 12px;
  }
  .contacts__icon {
    margin-right: 8px;
  }
  .contacts__icon-1 {
    width: 14px;
    height: 10px;
  }
  .contacts__icon-2 {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
  .contacts__item:not(:first-child) {
    margin-left: 50px;
  }
  .contacts__link {
    font-size: 14px;
  }
  .contacts__icon {
    margin-right: 10px;
  }
}


