
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    height: 100%;
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu__close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .mobile-menu__close-btn:hover &,
    .mobile-menu__close-btn:focus & {
      fill: var(--main-color);
    }
  }

  .mobile-menu__wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-menu__navigation-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--main-color);
    }
  }

  .current {
    color: var(--main-color);
  }

  .mobile-menu__navigation-item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .mobile-menu__contact-list {
    margin-bottom: 64px;
  }

  .mobile-menu__contact-link-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--main-color);
    }
  }

  .mobile-menu__contact-link-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--main-color);
    }
  }

  .mobile-menu__contact-item {
    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  .mobile-menu__socials {
    display: flex;
    flex-direction: row;
  }

  .mobile-menu__socials-item {
    &:not(:last-child) {
      margin-right: 10px;

      &::after {
        content: '';
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
      }
    }
  }

  .mobile-menu__socials-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
    padding-right: 10px;
  }
}
@media screen and (max-width: 479px) {
  .mobile-menu__socials-link {
    font-size: 14px;
  }
  .mobile-menu__contact-link-tel {
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  
}
